.question-card {
  background-color: white;
  padding: 25px;
  box-shadow: 0px 0px 10px #00000024;
  border-radius: 5px;
  overflow: hidden;
}

.question-card .title {
  position: relative;
  padding-top: 5px;
  text-align: center;
  color: #1c1d1d;
  font-size: 18px;
  font-weight: 700;
}

.question-card .answer li {
  position: relative;
  padding-top: 5px;
  text-align: center;
  color: #2d2c2c;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
}

.question-card .answer .correct:hover {
  background-color: #00ff00;
}

.question-card button {
  position: relative;
  background-color: #e4990d;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin: 15px;
  border: 0px;
  float: center;
}

.question-card button:hover {
  background-color: #b4790b;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  float: center;
}

.question-card button:focus {
  background-color: #e4990d;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 10px #00000024;
}
